#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.quill {
  position: relative;
}

.textarea-emoji-control {
  opacity: 0;
  /* position: absolute; */
  /* right: 86.5%; */
  /* top: 125%; */
  margin-right: 522px;
  margin-top: 55px;
  opacity: 1!important;
  position: absolute;

  margin-top: 48px;
  /* top: 2px; */
  /* margin-right: 522px;
  margin-top: 55px; */
  /* transform: translate(35px, -6px); */
}

.ql-editor {
  padding: 0!important;
}

.ql-toolbar.ql-snow {
  padding: 0!important;
  border: none!important;
}

.ql-snow.ql-toolbar button {
  padding: 0;
  height: 18px;
  width: 18px;
}
